.extrasForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  input {
    display: none;
  }

  label {
    transition: 0.2s ease-in;
    padding: 5px;
    // border-top: 2px solid green;
    // border-bottom: 2px solid green;
    border-left: 2px solid green;
    border-right: 2px solid green;
    line-height: 40px;

    &:hover {
      cursor: pointer;
    }
  }
}

.listOfAllOfferedExtras {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;

  h2,
  p {
    display: inline;
    color: orangered;
  }
}

.selected {
  label {
    -webkit-box-shadow: 0px 0px 25px -9px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 25px -9px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 25px -9px rgba(0, 0, 0, 1);
    background-color: green;
    border-color: firebrick;
    color: rgba(240, 248, 255, 0.846);
  }
}
