.formWrapper {
  background-color: rgb(245, 239, 239);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1200px;
  margin: 20px auto;
  padding: 15px;
  border: 2px solid rgba(0, 128, 0, 0.774);
  border-radius: 10px;
  form {
    font-size: x-large;
    margin: 20px auto;
    display: flex;
    flex-direction: column;

    label {
      margin: 0 auto;
      font-weight: bold;
    }

    input[type="text"],
    textarea {
      width: 70%;
      margin: 5px auto 15px;
      font-size: large;
      outline: none;
      border: 1px solid gainsboro;
      border-radius: 5px;
      &:focus {
        outline: 2px solid rgb(255, 195, 168);
      }
    }

    input[type="file"] {
      margin: 5px auto 15px;
      font-size: large;
    }

    button {
      margin: 0 auto;
      padding: 10px;
      width: 30%;
      transition: 0.5s ease;
      font-size: large;
      &:hover {
        color: aliceblue;
        background-color: rgb(20, 101, 39);
      }
    }
  }
}
