@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../src/images/background-smoke.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-size: large;
  font-family: "Kalam", cursive;
}
