.selectedShishaPreview {
  display: flex;
  padding: 20px;
  text-align: center;
  border-bottom: 2px dashed rgb(230, 102, 10);
}

.imgWrapper {
  width: 40%;
  max-height: 350px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
  }
}

.shishaDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;

  p {
    margin: 3% 10% 3%;
  }
}
