.selectedShisha {
  background-color: rgba(201, 212, 201, 0.838);
  border-radius: 25px;
  width: 70%;
  max-width: 1200px;
  margin: 20px auto;
  a {
    text-decoration: none;
  }

  h2 {
    color: orangered;
  }
}
